@model IEnumerable<SitioPersona.Models.VentaViewModel>

@{
    ViewData["Title"] = "Venta";
}

<h1>Ventas</h1>
<br />
<p>
    <a asp-action="Create" class="btn btn-primary">Realizar nueva venta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.venta.IdVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.venta.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.venta.ValorUnitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.venta.ValorTotal)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.venta.IdVenta)
                </th>
                <td>
                    @foreach (var cliente in item.Cliente)
                    {
                        @Html.DisplayFor(modelItem => cliente.Nombre)
                    }

                </td>
                <td>
                    @foreach (var producto in item.Producto)
                    {
                        @Html.DisplayFor(modelItem => producto.Nombre)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.venta.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.venta.ValorUnitario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.venta.ValorTotal)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.venta.IdVenta }) |
                    @Html.ActionLink("Borrar", "Delete", new { id = item.venta.IdVenta })
                </td>
            </tr>
        }
    </tbody>
</table>
